<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" href="../assets/css/components/base.css" />
		<link rel="stylesheet" href="../assets/css/components/button.css" />
		<title>Button</title>
	</head>
	<body>
		<button class="btn text-capitalize m-1 d-i-block">
			<span class="btn-text">shop now</span>
		</button>

		<span class="size">
			<img
				class="btn-curve m-1"
				src="../assets/img/btn-curve.svg"
				alt="btn curve" />
		</span>
	</body>
</html>
