<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" href="../assets/css/components/base.css" />
		<link rel="stylesheet" href="../assets/css/components/typography.css" />
		<link rel="stylesheet" href="../assets/css/components/card.css" />
		<title>card</title>
	</head>
	<body>
		<div class="card m-1">
			<img
				class="card-image"
				src="../assets/img/girl.png"
				alt="product image" />

			<div class="card-body">
				<h3 class="title-text-container text">
					<span class="title-text">hoodies & sweetshirt</span>
				</h3>

				<div class="card-footer">
					<a href="#" class="explore-text-container text">
						<span class="explore-text">explore now</span>
					</a>

					<img
						class="arrow-right"
						src="../assets/img/arrow-right.svg"
						alt="arrow right icon" />
				</div>
			</div>
		</div>
	</body>
</html>
