<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" href="../assets/css/components/base.css" />
		<link rel="stylesheet" href="../assets/css/components/button.css" />
		<link rel="stylesheet" href="../assets/css/components/typography.css" />
		<title>Typography</title>
	</head>
	<body style="background: antiquewhite; padding: 10px">
		<p class="shake-container text">
			<span class="shake"></span>
			<span class="shake-text-container">
				<span class="shake-text">let's</span>
			</span>
		</p>

		<h1 class="h1-text-container text">
			<span class="h1-text">
				<span class="shake-container text">
					<span class="shake"></span>
					<span class="shake-text-container">
						<span class="shake-text">let's</span>
					</span>
				</span>
				explore
				<span class="shake-container text">
					<span class="shake shake-yellow"></span>
					<span class="shake-text-container">
						<span class="shake-text">unique</span>
					</span>
				</span>
				clothes.
			</span>
		</h1>

		<h2 class="h2-text-container text-uppercase text">
			<span class="h2-text">new arrivals</span>
			<span class="size">
				<img
					class="btn-curve"
					src="../assets/img/h-curve.svg"
					alt="btn curve" />
			</span>
		</h2>

		<h2 class="news-latter-header-container text">
			<span class="news-latter-header-text">
				JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO
			</span>
		</h2>

		<h3 class="title-text-container text">
			<span class="title-text">hoodies & sweetshirt</span>
		</h3>

		<h4 class="sales-header-text-container text">
			<span class="sales-header-text">1 June - 10 June 2021</span>
		</h4>

		<p class="sales-text-container text">
			<span class="sales-text">
				Spend minimal $100 get 30% off voucher code for your next purchase
			</span>
		</p>

		<p class="hero-text-container text">
			<span class="hero-text">
				live for influential and innovative fashion!
			</span>
		</p>

		<p class="gray-text-container text">
			<span class="gray-text">
				Get 30% off for first transaction using Rondovision mobile app for now.
			</span>
		</p>

		<p class="news-latter-text-container text">
			<span class="news-latter-text">
				live for influential and innovative fashion!
			</span>
		</p>

		<a href="#" class="explore-text-container text">
			<span class="explore-text">explore now</span>
		</a>
	</body>
</html>
