<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" href="../assets/css/components/base.css" />
		<link rel="stylesheet" href="../assets/css/components/typography.css" />
		<link rel="stylesheet" href="../assets/css/components/button.css" />
		<link rel="stylesheet" href="../assets/css/components/card.css" />
		<link rel="stylesheet" href="../assets/css/components/utils.css" />
		<title>card</title>
	</head>
	<body style="padding: 20px">
		<div class="circle-star-container size">
			<div class="phone">
				<div class="phone-header">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="21"
						height="22"
						viewBox="0 0 21 22"
						fill="none">
						<g clip-path="url(#clip0_2_350)">
							<path
								d="M3.50037 7.21177H6.9979V3.71423H3.50037V7.21177ZM8.74667 17.7044H12.2442V14.2068H8.74667V17.7044ZM3.50037 17.7044H6.9979V14.2068H3.50037V17.7044ZM3.50037 12.4581H6.9979V8.96054H3.50037V12.4581ZM8.74667 12.4581H12.2442V8.96054H8.74667V12.4581ZM13.993 3.71423V7.21177H17.4905V3.71423H13.993ZM8.74667 7.21177H12.2442V3.71423H8.74667V7.21177ZM13.993 12.4581H17.4905V8.96054H13.993V12.4581ZM13.993 17.7044H17.4905V14.2068H13.993V17.7044Z"
								fill="#EBD96B" />
						</g>
						<defs>
							<clipPath id="clip0_2_350">
								<rect
									width="20.9852"
									height="20.9852"
									fill="white"
									transform="translate(0.00341797 0.216797)" />
							</clipPath>
						</defs>
					</svg>

					<img
						class="phone-profile-image"
						src="../assets/img/phone-profile.jpeg"
						alt="profile image" />
				</div>

				<div class="phone-body">
					<h2 class="p-text-container text">
						<span class="p-text">Match your style</span>
						<svg
							class="btn-curve"
							xmlns="http://www.w3.org/2000/svg"
							width="190"
							height="32"
							viewBox="0 0 190 32"
							fill="none">
							<path
								d="M0 30.6152C48 -11.7848 146.667 -1.05149 190 9.61518C176.4 33.6152 57.6667 33.6152 0 30.6152Z"
								fill="#EBD96B" />
						</svg>
					</h2>

					<div class="search-container">
						<input class="search size" type="text" placeholder="Search" />
						<svg
							class="search-icon"
							xmlns="http://www.w3.org/2000/svg"
							width="22"
							height="22"
							viewBox="0 0 22 22"
							fill="none">
							<path
								d="M14.0532 12.3841H13.3625L13.1176 12.148C13.9745 11.1512 14.4904 9.85713 14.4904 8.44937C14.4904 5.31033 11.9459 2.76587 8.80691 2.76587C5.66787 2.76587 3.12341 5.31033 3.12341 8.44937C3.12341 11.5884 5.66787 14.1329 8.80691 14.1329C10.2147 14.1329 11.5088 13.617 12.5056 12.7601L12.7416 13.0049V13.6957L17.1136 18.0588L18.4164 16.756L14.0532 12.3841ZM8.80691 12.3841C6.62969 12.3841 4.87218 10.6266 4.87218 8.44937C4.87218 6.27215 6.62969 4.51464 8.80691 4.51464C10.9841 4.51464 12.7416 6.27215 12.7416 8.44937C12.7416 10.6266 10.9841 12.3841 8.80691 12.3841Z"
								fill="#6E6F72" />
						</svg>
					</div>

					<div class="trending-container">
						<button class="size yellow"><span>trending now</span></button>
						<button class="size"><span>all</span></button>
						<button class="size"><span>new</span></button>
					</div>

					<div class="products size">
						<div class="card">
							<img
								class="card-image"
								src="../assets/img/girl.png"
								alt="product image" />

							<div class="card-body">
								<h3 class="title-text-container text">
									<span class="title-text">hoodies & sweetshirt</span>
								</h3>

								<div class="card-footer">
									<a href="#" class="explore-text-container text">
										<span class="explore-text">explore now</span>
									</a>

									<img
										class="arrow-right"
										src="../assets/img/arrow-right.svg"
										alt="arrow right icon" />
								</div>
							</div>
						</div>
						<div class="card">
							<img
								class="card-image"
								src="../assets/img/girl.png"
								alt="product image" />

							<div class="card-body">
								<h3 class="title-text-container text">
									<span class="title-text">hoodies & sweetshirt</span>
								</h3>

								<div class="card-footer">
									<a href="#" class="explore-text-container text">
										<span class="explore-text">explore now</span>
									</a>

									<img
										class="arrow-right"
										src="../assets/img/arrow-right.svg"
										alt="arrow right icon" />
								</div>
							</div>
						</div>
						<div class="card">
							<img
								class="card-image"
								src="../assets/img/girl.png"
								alt="product image" />

							<div class="card-body">
								<h3 class="title-text-container text">
									<span class="title-text">hoodies & sweetshirt</span>
								</h3>

								<div class="card-footer">
									<a href="#" class="explore-text-container text">
										<span class="explore-text">explore now</span>
									</a>

									<img
										class="arrow-right"
										src="../assets/img/arrow-right.svg"
										alt="arrow right icon" />
								</div>
							</div>
						</div>
						<div class="card">
							<img
								class="card-image"
								src="../assets/img/girl.png"
								alt="product image" />

							<div class="card-body">
								<h3 class="title-text-container text">
									<span class="title-text">hoodies & sweetshirt</span>
								</h3>

								<div class="card-footer">
									<a href="#" class="explore-text-container text">
										<span class="explore-text">explore now</span>
									</a>

									<img
										class="arrow-right"
										src="../assets/img/arrow-right.svg"
										alt="arrow right icon" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="phone-nav">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none">
						<path
							d="M9.45189 23.3916V15.3678H14.1736V23.3916H20.0757V12.6932H23.6169L11.8127 0.657593L0.00854492 12.6932H3.5498V23.3916H9.45189Z"
							fill="#EBD96B" />
					</svg>

					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="22"
						height="22"
						viewBox="0 0 22 22"
						fill="none">
						<path
							d="M0.200928 15.3957H21.1861V12.3978H0.200928V15.3957ZM0.200928 21.3915H21.1861V18.3936H0.200928V21.3915ZM0.200928 9.39992H21.1861V6.40203H0.200928V9.39992ZM0.200928 0.40625V3.40414H21.1861V0.40625H0.200928Z"
							fill="#959292" />
					</svg>

					<div class="p-relative">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="25"
							height="24"
							viewBox="0 0 25 24"
							fill="none">
							<path
								d="M7.85229 18.8448C6.55383 18.8448 5.50325 19.8678 5.50325 21.1182C5.50325 22.3686 6.55383 23.3916 7.85229 23.3916C9.15075 23.3916 10.2131 22.3686 10.2131 21.1182C10.2131 19.8678 9.15075 18.8448 7.85229 18.8448ZM0.769775 0.657593V2.93099H3.13061L7.38012 11.5585L5.78655 14.3435C5.59769 14.6617 5.49145 15.0368 5.49145 15.4347C5.49145 16.6851 6.55383 17.7081 7.85229 17.7081H22.0173V15.4347H8.34806C8.18281 15.4347 8.05296 15.3097 8.05296 15.1505L8.08837 15.0141L9.15075 13.1613H17.9449C18.8302 13.1613 19.6093 12.6952 20.0106 11.9905L24.2365 4.61331C24.3309 4.45417 24.3782 4.26093 24.3782 4.06769C24.3782 3.44251 23.847 2.93099 23.1977 2.93099H5.73934L4.62974 0.657593H0.769775ZM19.6565 18.8448C18.358 18.8448 17.3074 19.8678 17.3074 21.1182C17.3074 22.3686 18.358 23.3916 19.6565 23.3916C20.9549 23.3916 22.0173 22.3686 22.0173 21.1182C22.0173 19.8678 20.9549 18.8448 19.6565 18.8448Z"
								fill="#959292" />
						</svg>
						<span class="pill">1</span>
					</div>

					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none">
						<path
							d="M12.0127 12.0247C15.2736 12.0247 17.9148 9.48135 17.9148 6.34121C17.9148 3.20108 15.2736 0.657715 12.0127 0.657715C8.75178 0.657715 6.11059 3.20108 6.11059 6.34121C6.11059 9.48135 8.75178 12.0247 12.0127 12.0247ZM12.0127 14.8665C8.07304 14.8665 0.208496 16.7704 0.208496 20.55V23.3917H23.8169V20.55C23.8169 16.7704 15.9523 14.8665 12.0127 14.8665Z"
							fill="#959292" />
					</svg>
				</div>
			</div>

			<div class="circle circle-1"></div>
			<div class="circle circle-2"></div>
			<div class="circle circle-3"></div>

			<div class="circle-star circle-star-1 circle-star-gray"></div>
			<div class="circle-star circle-star-2 circle-star-yellow scale-3"></div>
			<div class="circle-star circle-star-3 circle-star-gray scale-1"></div>
			<div class="circle-star circle-star-4 circle-star-yellow scale-2"></div>

			<script
				type="text/javascript"
				src="../assets/js/plugins/vanilla-tilt.babel.min.js"></script>

			<script type="text/javascript">
				VanillaTilt.init(document.querySelector(".phone"), {
					max: 25,
					speed: 400,
				});

				//It also supports NodeList
				VanillaTilt.init(document.querySelectorAll(".phone"));
			</script>
		</div>
	</body>
</html>
