.new-arrivals {
	padding: 2.4em;
}

.new-arrivals .products {
	display: flex;
	column-gap: 4em;
	row-gap: 4em;
	flex-wrap: wrap;

	align-items: center;
	margin: 5em 0;
}

.new-arrivals .products .card {
	width: 100%;
}

@media (min-width: 700px) {
	.new-arrivals .products .card {
		width: calc(100% / 2 - 2em);
	}

	.new-arrivals .products .card:last-child {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.new-arrivals .products .card {
		width: calc(100% / 3 - 3em) !important;
	}
}

@media (min-width: 1440px) {
	.new-arrivals .products .card {
		width: calc(100% / 3 - 4em) !important;
	}
}

.new-arrivals .products .card .card-image {
	height: 30em;
}

@media (min-width: 1000px) {
	.new-arrivals .products .card .card-image {
		height: 70em;
	}
}

.payday {
	background: linear-gradient(
		1deg,
		#e0c340 0.13%,
		#dfc23e 3.97%,
		#e1c441 7.2%,
		#e3c743 10.13%,
		#e4c542 12.98%,
		#e6c744 15.99%,
		#e7c845 19.52%,
		#e5c643 23.96%,
		#e6c945 30.43%,
		#e3c743 36.49%,
		#e9ca48 42.49%,
		#edce49 49.35%,
		#f0d44c 55.42%,
		#f4d84f 61.43%,
		#f6da52 65.74%,
		#f7db53 72.23%,
		#f9dd55 77.43%,
		#f9df56 83.84%,
		#fae157 91.52%,
		#f9df56 97.87%
	);
}

.payday .left {
	display: none;
}

.payday .right {
	padding: 10em 6em;
}

.payday .right > * {
	margin-bottom: 1rem;
}

@media (min-width: 1000px) {
	.payday .m-width {
		display: flex;
	}

	.payday .left {
		display: initial;
		position: relative;
	}

	.payday .left .promotion-girl {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.payday .left .white-star {
		position: absolute;
		transform: rotate(0deg) scale(0.8);
		animation: rotate 3s linear 0s infinite;
	}

	.payday .left .white-star-1 {
		top: 20%;
		left: 10%;
	}

	.payday .left .white-star-2 {
		bottom: 20%;
		left: 15%;
	}

	.payday .left .white-star-3 {
		top: 10%;
		right: 10%;
	}

	.payday .left .white-star-4 {
		bottom: 10%;
		right: 5%;
	}
}

.favourite {
	padding: 2.4em;
}

.favourite h2 {
	margin-top: 10em;
}

.favourite .products {
	display: flex;
	align-items: center;
	column-gap: 4em;
	margin: 5em 0;
}

.app .left {
	padding: 10em 2.4em;
}

.app .left > * {
	margin-bottom: 2rem;
}

.app .left .downloads {
	display: flex;
	align-items: center;
	column-gap: 2em;
}

.app .left .downloads button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.app .left .downloads img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.app .right {
	display: none;
	padding-bottom: 10em;
}

@media (min-width: 700px) {
	.app .left {
		text-align: center;
	}

	.app .left .downloads {
		justify-content: center;
	}
}

@media (min-width: 1000px) {
	.app {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.app .left {
		flex: 0 0 40%;
		padding: 10em 6em;
		text-align: left;
	}

	.app .left .downloads {
		justify-content: initial;
	}

	.app .right {
		display: initial;
		flex: 0 0 60%;
	}
}
