.card {
	display: flex;
	flex-direction: column;
	row-gap: 2.8em;

	font-size: 6px;
	cursor: pointer;
	transition: all 0.5s;
}

.card:hover {
	transform: scale(1.05);
}

.card .card-image {
	width: 100%;
	height: auto;

	border-radius: 2em;
	object-fit: cover;
}

.card .card-title {
	margin-top: 2.8em;
}

.card .card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.card .card-footer .arrow-right {
	width: 3.2em;
}

@media (min-width: 400px) {
	.card {
		font-size: 8px;
	}
}

@media (min-width: 700px) {
	.card {
		font-size: 10px;
	}
}
