.phone {
	padding: 4em 0;
	width: 32.7894em;
	max-height: 70em;
	overflow-y: hidden;
	border-radius: 3.4975em;
	border: 2.258em solid #c2c8da;
	background: #fff;
	box-shadow: 0px 0.4em 6.3em 0px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 1;
}

.phone .phone-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.62em;
}

.phone .phone-header .phone-profile-image {
	border-radius: 100%;
	width: 3.9347em;
	height: 3.6724em;

	object-fit: cover;
}

.phone .phone-body {
	margin-top: 2em;
	padding: 0 2.62em;
}

.phone .phone-body .p-text-container {
	font-family: "Inter";
	font-weight: 700;
}

.phone .phone-body .p-text-container .p-text {
	font-size: 2em;

	position: relative;
	z-index: 2;
}

.phone .phone-body .btn-curve {
	width: calc(0.1em + 15%);
	height: calc(0.0168em + 15%);
	transform: translate(-100%, 100%) rotate(-5deg);
}

.phone .phone-body .search-container {
	position: relative;
}

.phone .phone-body .search-container .search {
	margin-top: 2em;
	padding: 1.5em 2em 1em 4em;

	border-radius: 1.399em;
	border: none;
	background: var(--light-gray-color);

	width: 100%;
}

.phone .phone-body .search-container .search::placeholder,
.phone .phone-body .search-container .search::-webkit-input-placeholder {
	font-family: "Inter";
	font-weight: 400;
	font-size: 1.2em;
}

.phone .phone-body .search-container .search-icon {
	position: absolute;
	left: 1.5em;
	top: 3em;

	width: 2.0985em;
	height: 2.0985em;
}

.phone .phone-body .trending-container {
	display: flex;
	justify-content: space-between;

	margin-top: 2em;
}

.phone .phone-body .trending-container button {
	border: none;
	background-color: rgba(233, 230, 230, 1);

	padding: 0.5em 1.5em;
	border-radius: 1em;

	text-transform: capitalize;

	font-family: "Poppins";
	font-weight: 500;
	color: rgba(138, 138, 138, 1);
}

.phone .phone-body .trending-container .yellow {
	background-color: rgba(235, 217, 107, 1);
}

.phone .phone-body .trending-container button span {
	font-size: 1em;
}

.phone .phone-body .products {
	margin-top: 2em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 2em;
}

.phone .phone-body .products .card {
	width: 46%;
}

.phone .phone-body .products .card > img {
	height: 18em;
}

.phone .phone-body .products .card .card-footer .arrow-right {
	height: 1em;
}

.phone .phone-body .products .title-text-container,
.phone .phone-body .products .explore-text-container {
	margin: 0;
	padding: 0;
}

.phone .phone-body .products .title-text-container .title-text,
.phone .phone-body .products .explore-text-container .explore-text {
	font-size: 1em;
}

.phone .phone-nav {
	display: flex;
	justify-content: space-between;
	background-color: var(--white-color);
	padding: 1em 2.62em;
	position: sticky;
	width: 100%;
	left: 0;
	bottom: -4em;
	border-bottom-right-radius: 3.4975em;
	border-bottom-left-radius: 3.4975em;
}

.phone .phone-nav svg {
	width: 2.3608em;
	height: 2.2734em;
}

.phone .phone-nav .pill {
	display: block;
	position: absolute;
	background-color: var(--red-color);

	text-align: center;
	color: var(--white-color);

	border-radius: 100%;

	top: -0.5em;
	right: -0.5em;

	width: 1.3em;
	height: 1.3em;
}

@media (min-width: 400px) {
	.phone {
		font-size: 8px;
	}
}

@media (min-width: 700px) {
	.phone {
		font-size: 10px;
	}
}

.circle-star-container {
	position: relative;
	width: 100%;
	min-height: 60em;
	display: grid;
	justify-content: center;
}

.circle-star-container .circle-star {
	width: 2.4em;
	height: 2.4em;

	border-radius: 100%;

	position: absolute;
}

.circle-star-container .circle-star-gray {
	background-color: var(--gray-color);
}

.circle-star-container .circle-star-yellow {
	background-color: var(--yellow-color);
}

.circle-star-container .circle-star-1 {
	top: 10em;
	left: 5em;
	animation: circle1 5s linear 0s infinite;
}

.circle-star-container .circle-star-2 {
	top: 8em;
	right: 4em;
	animation: circle2 5s linear 0s infinite;
}

.circle-star-container .circle-star-3 {
	bottom: 15em;
	right: 10em;
	animation: circle3 5s linear 0s infinite;
}

.circle-star-container .circle-star-4 {
	bottom: 10em;
	left: 0;
	animation: circle4 5s linear 0s infinite;
}

.circle-star-container .scale-1 {
	transform: scale(-0.6);
}

.circle-star-container .scale-2 {
	transform: scale(2);
}

.circle-star-container .scale-3 {
	transform: scale(2.5);
}

.circle-star-container .circle {
	display: none;
}

@media (min-width: 500px) {
	.circle-star-container .circle {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60em;
		max-width: 100%;
		height: 60em;
		border-radius: 100%;
		border: 0.05em solid var(--gray-color);
		background: white;
		align-self: center;

		animation: circle 0.5s linear 0s infinite alternate-reverse forwards;
	}

	.circle-star-container .circle-1 {
		transform: translate(-50%, -50%) scale(1);
	}

	.circle-star-container .circle-2 {
		transform: translate(-50%, -50%) scale(0.8);
		animation-delay: 0.7s;
	}

	.circle-star-container .circle-3 {
		transform: translate(-50%, -50%) scale(0.6);
		animation-delay: 1.3s;
	}
}

@keyframes circle {
	to {
		border: 1.05em solid var(--gray-color);
	}
}

@keyframes circle1 {
	0% {
		top: 10em;
		left: 5em;
		bottom: 95%;
		right: 95%;
	}

	22% {
		top: 8em;
		right: 4em;
		left: 95%;
		bottom: 95%;
	}

	50% {
		top: 95%;
		left: 95%;
		bottom: 15em;
		right: 10em;
	}

	75% {
		top: 95%;
		right: 95%;
		bottom: 10em;
		left: 0;
	}

	100% {
		top: 10em;
		left: 5em;
		bottom: 95%;
		right: 95%;
	}
}

@keyframes circle2 {
	0% {
		top: 8em;
		right: 4em;
		left: 95%;
		bottom: 95%;
	}

	25% {
		top: 95%;
		left: 95%;
		bottom: 15em;
		right: 10em;
	}

	50% {
		top: 95%;
		right: 95%;
		bottom: 10em;
		left: 0;
	}

	75% {
		top: 10em;
		left: 5em;
		bottom: 95%;
		right: 95%;
	}

	100% {
		top: 8em;
		right: 0;
		left: 95%;
		bottom: 95%;
	}
}

@keyframes circle3 {
	0% {
		top: 95%;
		left: 95%;
		bottom: 15em;
		right: 5em;
	}

	25% {
		top: 95%;
		right: 95%;
		bottom: 10em;
		left: 0;
	}

	50% {
		top: 10em;
		left: 5em;
		bottom: 95%;
		right: 95%;
	}

	75% {
		top: 8em;
		right: 4em;
		left: 95%;
		bottom: 95%;
	}

	100% {
		top: 95%;
		left: 95%;
		bottom: 15em;
		right: 10em;
	}
}

@keyframes circle4 {
	0% {
		top: 95%;
		right: 95%;
		bottom: 10em;
		left: 0;
	}

	25% {
		top: 10em;
		left: 5em;
		bottom: 95%;
		right: 95%;
	}

	50% {
		top: 8em;
		right: 4em;
		bottom: 95%;
		left: 95%;
	}

	75% {
		bottom: 15em;
		right: 10em;
		top: 95%;
		left: 95%;
	}

	100% {
		top: 95%;
		right: 95%;
		bottom: 10em;
		left: 0;
	}
}
